# Ignore everything on top level
/*

# look into subdirectories
!*/

# disallow some subdirectories
.vscode/
bin/
build/
doc/

# allow this gitignore file
!.gitignore

# allow readme file
!README.md

# allow basic scripts
!.clang-format
!Doxyfile
!format.sh
!editorconfig
!LICENCE

# allow implementation
!CMakeLists.txt
!src/
!include/

# libraries
!lib/graph/
!lib/imgui/
