# Ignore everything
*

# look into subdirectories
!*/

# allow this gitignore file
!.gitignore

# allow readme file
!README.md

# allow basic scripts
!.clang-format
!Doxyfile
!format.sh

# allow implementation
!CMakeLists.txt
!src/*.cpp
!include/*.hpp
!src/draw/*.cpp
!include/draw/*.hpp
!src/graph/*.cpp
!include/graph/*.hpp
!include/utility/*.hpp
!src/solve/*.cpp
!include/solve/*.hpp
!include/exception/*.hpp

# libraries
!lib/imgui/*
