# Ignore everything
*

# allow this gitignore file
!.gitignore

# make git searching in tex directory
!tex/
tex/*

# allow tex files in tex directory
!tex/*.tex

# make git searching in implementation directory
!implementation/
implementation/*

# allow basic scripts
!implementation/.clang-format

# allow implementation
!implementation/CMakeLists.txt
!implementation/src/
!implementation/src/*.cpp
!implementation/include/
!implementation/include/*.hpp

